[tool.poetry]
name = "cvxmarkowitz"
version = "0.0.0"
description = "Markowitz"
authors = ["Thomas Schmelzer", "Kasper Johansson", "Philipp Schiele", "Stephen Boyd"]
readme = "README.md"
repository = "https://github.com/cvxgrp/cvxmarkowitz"
packages = [{include = "cvx"}]

[tool.poetry.dependencies]
python = ">=3.9,<3.13"
cvxpy-base = "*"
clarabel = "*"
fire = "*"

[tool.poetry.group.test.dependencies]
pytest = "8.3.3"
pytest-cov = "5.0.0"
pre-commit = "3.8.0"
mock = "*"

[tool.poetry.group.dev.dependencies]
pandas = "*"
plotly = "*"
loguru = "*"
scikit-learn = "*"
#cvxpyanalyzer = "*"
cvxsimulator = ">=0.7.3"
cvxbson= "*"
ipykernel = "*"

[build-system]
requires = ["poetry>=1.6.0"]
build-backend = "poetry.core.masonry.api"

# Relevant documentation:
# https://medium.com/clarityai-engineering/how-to-create-and-distribute-a-minimalist-cli-tool-with-python-poetry-click-and-pipx-c0580af4c026

[tool.ruff]
select = ["E", "F", "I"]
line-length = 100
target-version = "py310"
exclude = [
    "*__init__.py"
]
