[project]
name = "cvxmarkowitz"
version = "0.0.0"
description = "Markowitz"
authors = [{name = "Thomas Schmelzer", email = "thomas.schmelzer@gmail.com"},
    {name = "Kasper Johansson"},
    {name = "Philipp Schiele"},
    {name = "Stephen Boyd"}]

readme = "README.md"

#authors = ["Thomas Schmelzer", "Kasper Johansson", "Philipp Schiele", "Stephen Boyd"]
#readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "cvxpy-base>=1.6.0",
    "numpy>=2.1.3",
    "clarabel",
]

[project.urls]
repository = "https://github.com/cvxgrp/cvxmarkowitz"

[dependency-groups]
dev = [
    "fire>=0.7.1",
    "mock",
    "yfinance",
    "loguru>=0.7",
    "pandas>=2.3",
    "plotly>=6.5",
    "scikit-learn",
    "cvxsimulator",
    "numpy>=2.4",	    
    "marimo"
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/cvx"]

[tool.deptry.per_rule_ignores]
DEP002 = ["cvxpy-base", "clarabel"]
DEP001 = ["cvx", "cvxpy"]
