[project]
name = "cvxmarkowitz"
version = "0.0.0"
description = "Markowitz"
authors = [{name = "Thomas Schmelzer", email = "thomas.schmelzer@gmail.com"},
    {name = "Kasper Johansson"},
    {name = "Philipp Schiele"},
    {name = "Stephen Boyd"}]

readme = "README.md"

#authors = ["Thomas Schmelzer", "Kasper Johansson", "Philipp Schiele", "Stephen Boyd"]
#readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "cvxpy-base>=1.6.0",
    "numpy>=2.1.3",
    "clarabel",
    #"typing-extensions"
]

[project.urls]
repository = "https://github.com/cvxgrp/cvxmarkowitz"

[dependency-groups]
dev = [
    "pytest-cov>=6.0.0",
    "pytest>=8.3.3",
    "pre-commit>=4.0.1",
    "mock",
    "yfinance",
    "loguru",
    "tinycta",
    "plotly",
    "cvxsimulator",
    "scikit-learn",
    "marimo"
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/cvx"]

[tool.deptry.per_rule_ignores]
DEP002 = ["cvxpy-base", "clarabel"]
DEP001 = ["cvx", "cvxpy"]
